@tailwind base;
@tailwind components;
@tailwind utilities;
/*TODO: typo satochis*/

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
}
body {
  --white: #F8F5FB;
  --lila: #F3DCFF;
  --purple: #361063;
  --dark-purple: #100028;
  --green: #B2D5CE;
}
.htmx-indicator {
  transition: opacity 100ms ease-in !important;
}

.animate-loading-bar {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.font-color-dark {
  color: var(--dark-purple);
}

.font-color-light {
  color: var(--white);
}
.font-color-green {
  color: var(--green);
}
.hover-green {
  transition: all 0.3s;
}
.hover-green:hover {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}

.bg-lila {
  background-color: var(--lila);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-light {
  background-color: var(--white);
}

.border-solid-dark {
  border-style: solid;
  border-color: var(--dark-purple);
}
.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.custom-shadow{
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

#main {
  display: none;
}

#desktop {
  display: block;
}

@media (max-width: 400px) {
  #desktop {
    display: none;
  }
  #main {
    display: block;
  }
  #message {
    display: block;
  }
}